[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marshmallow = "*"
marshmallow-sqlalchemy = "*"
flash-cards-learning-app = {file = ".", editable = true}
marshmallow-enum = "==1.5.1"

[dev-packages]

[requires]
python_version = "3.8"
